body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
}
.bod {
  background-color: white;
  width:100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
h1{
  text-align: center;
  font-weight: bold;
  color: #2980b9;
}
form {
  background-color: #ecf0f1;
  border: 3px solid rgba(41, 128, 185,0.3);
  border-radius: 12px;
  padding: 12px;
}
.float{
  float:left;
}
}
input[type=text], input[type=number], input[type=email], 
input[type=tel], input[type=url], select {
    width: 100%;
    padding: 5px 5px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #2980b9;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=checkbox], input[type=radio] {
  margin-top: 15px;
}
button{
  background-color: #2980b9;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 2.0em;
}
button:hover {
    background-color: #27ae60;
}
