.hometown:input:invalid {
  background-color: #ffdddd;
}

.hometown:form:invalid {
  border: 5px solid #ffdddd;
}

.hometown:input:valid {
  background-color: #ddffdd;
}

.hometown:form:valid {
  border: 5px solid #ddffdd;
}
  
.hometown:input:required {
  border-color: #800000;
  border-width: 3px;
}

.hometown:input:required:valid {
  border-color: #008000;
}