.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

textarea {
  text-align: center;
}



/*green header */
header {
  background: ##6ab47b;
  border-color: #599a68;
}

/* logo text */
h1 {
  color: blue;
  text-align: center;
}

label {
  font-weight: bold; 
}

.hometown:input:invalid {
  background-color: #ffdddd;
}

.hometown:form:invalid {
  border: 5px solid #ffdddd;
}

.hometown:input:valid {
  background-color: #ddffdd;
}

.hometown:form:valid {
  border: 5px solid #ddffdd;
}
  
.hometown:input:required {
  border-color: #800000;
  border-width: 3px;
}

.hometown:input:required:valid {
  border-color: #008000;
}